<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<app-navigation></app-navigation>
<table class="body-wrap">
  <tbody><tr>
      <td></td>
      <td class="container" width="600">
          <div class="content">
              <table class="main" width="100%" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                      <td class="content-wrap aligncenter">
                          <table width="100%" cellpadding="0" cellspacing="0">
                              <tbody><tr>
                                  <td class="content-block">
                                      <h2>Billing Statement</h2>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="content-block">
                                      <table class="invoice">
                                          <tbody><tr>
                                              <td>Anna Smith<br></td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                      <tbody>
                                                        <tr *ngFor ="let a of accountList">
                                                          <td>{{a[0]}}</td>
                                                          <td class="alignright">{{a[1]}}</td>
                                                      </tr>
                                                      <tr class="total">
                                                          <td class="alignright" width="80%">Total:{{bill}}</td>
                                                          <td class="alignright"></td>
                                                      </tr>
                                                  </tbody></table>
                                              </td>
                                          </tr>
                                      </tbody></table>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="content-block">
                                      Company Inc. 123 Van Ness, San Francisco 94102
                                  </td>
                              </tr>
                          </tbody></table>
                      </td>
                  </tr>
              </tbody></table>
              <div class="footer">
                  <table width="100%">
                      <tbody><tr>
                          <td class="aligncenter content-block">Questions? Email <a href="mailto:">support@telecom.com</a></td>
                      </tr>
                  </tbody></table>
              </div></div>
      </td>
      <td></td>
  </tr>
</tbody></table>


<table style="margin-left: auto; margin-right: auto">
  <tr>
    <td class="content-block">
      <h2>Billing Statement</h2>
    </td>
  </tr>
  <tr>
    <td>Welcome to your account, {{ name }}! <br /></td>
  </tr>
  <!-- <tr>
    <td>Premium</td>
    <td class="alignright"></td>
  </tr>
  <tr>
    <td>Deluxe</td>
    <td class="alignright"></td>
  </tr>
  <tr>
    <td>Basic</td>
    <td class="alignright"></td>
  </tr> -->
  <tr class="total">
    <td width="80%">Your currently monthly balance is: ${{ bill }}</td>
  </tr>
  <!-- <tr>
    <td class="content-block">
      Company Inc. 123 Van Ness, San Francisco 94102
    </td>
  </tr>

  <div class="footer">
    <tr>
      <td class="aligncenter content-block">
        Questions? Email <a href="mailto:">support@telecom.inc</a>
      </td>
    </tr>
  </div> -->
</table>
