@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

body { 
  font-family: 'Open Sans', sans-serif;
 
}

/* STRUCTURE */

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 0px auto;
	background: #fff;
	
}
header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
    margin-bottom: 0px;
	
}

footer {
	padding: 0 0px;
}

.submit-button{
    margin-left: 700px;
}


@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 0 0;
		
	}

	.col-25, .col-75, input[type=submit]{
		width: 100%;
		margin-top: 0;
		flex-basis: 100%;
	}
}

label{
	padding: 12px 12px 12px 0;
	display: inline-block;
}


.center {
	flex: 1;
	margin: auto;
	width: 60%;
	border: 1px solid black;
	padding: 30px;
	text-align: center;
	background-color: #fff;
	box-sizing: content-box;

  }
