<body>
  <div class="container-fluid">
    <div>
      <h3>Sign in to My Telecom</h3>
      <form (ngSubmit)="validate(); loginForm.reset()" id="login" #loginForm>
        <div class="form-group">
          <input
            [(ngModel)]="user.username"
            name="username"
            class="corner1"
            type="text"
            placeholder=" username"
          />
          <br />
        </div>
        <div class="form-group">
          <input
            [(ngModel)]="user.password"
            name="password"
            class="corner1"
            type="password"
            placeholder="password"
          />
          <br />
        </div>
        <div class="form-group">
          <input
            class="btn btn-primary mr 1 submit-button"
            type="submit"
            value="Submit"
          />
        </div>
      </form>
    </div>
    <div class="row">
      <div class="form-group1">
        <a class="submit" [routerLink]="['/Register']">Register</a>
      </div>
    </div>
  </div>
</body>
