.nav-link {
    color: green;
}

nav ul {
    background-color:chartreuse;
}

#navigation {
    background-color:chocolate !important;
}




/*
.navbar nav{
    color:crimson;
    background-color:crimson;
}

.bg-light {
    background-color: green;
}

nav.navbar.navbar-expand-sm.bg-light {
    
    background-color:green;
}
*/

