.nav-link {
    color: royalblue;
}

nav ul {
    background-color: r#f0f4f7;;
}

#navigation {
    background-color:#f78f30!important;
}




/*
.navbar nav{
    color:crimson;
    background-color:crimson;
}

.bg-light {
    background-color: green;
}

nav.navbar.navbar-expand-sm.bg-light {
    
    background-color:green;
}
*/

