.nav-link {

    color: royalblue;
}

nav ul {
    background-color: r#f0f4f7;;
}

#navigation {
    background-color:#f78f30!important;
}

nav ul {
    /* background-color:rgb(201, 132, 54) !important; */
    background-color:#f78f30 !important;
    justify-content: space-around !important;
    width: 100%;
}

#navigation {
    background-color: #f78f30 !important;
    /* background-color:rgb(201, 132, 54) !important; */
    border: 200px;
    border-bottom: 2px solid rgb(90, 88, 88);

    
}

nav li {
    display: inline-block;
    height: 100%;
    padding: 10px;
}

a {
    font-family: "Copperplate";
    font-size: 1.5em;
}

/*
.navbar nav{
    color:crimson;
    background-color:crimson;
}

.bg-light {
    background-color: green;
}

nav.navbar.navbar-expand-sm.bg-light {
    
    background-color:green;
}
*/

