.btn {
  background-color: #f78f30; /* Blue background */
  border: black; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  padding-top: 10px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


