<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<app-navigation></app-navigation>
<body>
  <h1>Phones</h1>
  <div style="height: 200px; overflow-y: scroll" class="center-screen">
    <table class="table center" style="width: 50%">
      <thead>
        <tr>
          <th scope="col-lg-4">Phone Number</th>
          <th scope="col-lg-4">Phone Type</th>
          <th scope="col-lg-4">Plan</th>
        </tr>
      </thead>
      <tbody class="tablebody">
          <tr *ngFor="let d of deviceList">
            <td scope="col-lg-4">{{d[0]}}</td>
            <td scope="col-lg-4">{{d[1]}} </td>
            <td scope="col-lg-4">{{d[2]}}</td>
            <button (click)="deletePhoneLine(d[0])" class="btn submit-button" type="submit" name= "Disconnect">Disconnect</button>
          </tr>
      </tbody>
    </table>
  </div>
</body>
 
