<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <h1>Phones</h1>  
    <div style="height:200px; overflow-y: scroll;" class="center-screen"> 
        <table class = "table table-hover center" style="width: 50%;">  
              <thead>
                <tr>
                    <th scope="col-lg-4">Phone Number</th>
                    <th scope="col-lg-4">Phone Type</th>
                    <th scope="col-lg-4">Plan</th>
                </tr>
             </thead>
             <tbody id="tablebody">
              <tr>
                <td>888-888-888</td>
                <td>i-phone6</td>
                <td>Basic</td>
                <button class="btn"><i class="fa fa-close"></i>Disconnect</button>
              </tr>
              <tr>
                <td>000-000-000</td>
                <td>LG-Lite</td>
                <td>Premimum</td>
                <button class="btn"><i class="fa fa-close"></i>Disconnect</button>
              </tr>
            </tbody>
        </table>
    </div>
</body>
